body {
    background-color: #202020;
    color: lightgrey
}
.header {
    background-color: #101010;
    padding: 20px;
    text-align: center;
    color: lightgrey; 
}

.link {
    text-decoration: none;
    color: lightgrey;
}

.alerts {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    list-style-type: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
}

.row {
    width: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    text-align: center;
    width: 50%;
    padding: 10px;
    border: 1px solid darkgrey;
}

.video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    display: block
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto
}  

.progress-bar {
    height: 35px;
    width: 250px;
    border: 2px solid darkgrey;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: white;
    display: flex;
    align-items: center;
    transition: width 0.25s;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: black
}