<html>
  <head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>QuickClip</title>
  </head>
  <body>
    <div class="header">
        <h1><a class="link" href="/">QuickClip</a></h1>
    </div>
      <div class="messages">
        <div id="loader" class="loader"></div>
        <span id="message" class="centered">Processing</span>
      </div>
      <div class="video">
        <video id="video" class="video" src="/files/{{filename}}" controls="controls" preload="auto" autoplay="autoplay" width="1280px" height="720px" style="display: none;"/>
      </div>
  </body>
  <script>
const sleep = ms => new Promise(res => setTimeout(res, ms));
let video = document.getElementById('video');
let message = document.getElementById('message');
let loader = document.getElementById('loader');

document.addEventListener("DOMContentLoaded", async function () {
    let waiting = false;
    response = await fetch(window.location.origin+'/status/{{filename}}');
    status = response.status;
    if (status == 404){
      loader.style.display = 'none';
      message.style.display = 'block';
      message.innerHTML = 'Video not found';
    }
    while(status == 420) {
      waiting = true;
      await sleep(500);
      response = await fetch(window.location.origin+'/status/{{filename}}');
      status = response.status;
    }
    if (waiting || status == 200) {
      console.log("foo")
      message.style.display = 'none';
      video.style.display = 'block';
      loader.style.display = 'none';
      video.load();
      video.play();
    }
})
  </script>
</html>